{% extends "index.html" %}

{% block body %}
<p class="lead">Skriv in din plats och ditt könummer så skickas en notis när det är din tur!</p>
<section class="col-md-6">
    {% for message in get_flashed_messages() %}
    <h2>{{ message }}</h2>
    {% endfor %}
    <form action="/add_ticket" method="post">
        <label><b> Ditt nummer: </b></label><input type="number" name="ticket_num" min ="1" max ="100">
        <button type="submit" class="btn btn-outline-secondary btn-md">Skicka</button>
    </form>
</section>

{% endblock %}