<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Que-T Kompis!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href="/static/css/style.css" rel="stylesheet">
</head>
<body>

  <div class="body"></div>
        <div class="grad"></div>
        <div class="header">
            <div>Welcome to QT!</div>
        </div>
        <br>
        <div class="login">
                <input type="text" placeholder="användarnamn" name="user"><br>
                <input type="password" placeholder="lösenord" name="password"><br><br>
                <a href="index.html">
                  <button type="button" class="btn btn-outline-secondary btn-lg">Logga in</button>
                </a>
        </div>


</body>
</html>