{% extends "index.html" %}

{% block body %}
<p class="lead">Skriv in din plats och ditt könummer så skickas en notis när det är din tur!</p>
<section class="col-md-6">

    {% for message in get_flashed_messages() %}
    <h2>{{ message }}</h2>
    {% endfor %}
    <div class="container">
    <form action="/add_place" method="post">
        <label><b> Plats: </b> </label><input type="text" name="place">
        <button type="submit" class="btn btn-outline-secondary btn-md">Sök</button>
    </form>
    </div>


</section>
{% endblock %}