{% extends "index.html" %}

{% block body %}
<p class="lead">Du står nu i kö. <br>
    QT håller koll och skickar en notis när det är din tur!</p>

<body>
    <meta http-equiv="refresh" content="30">
{% for message in get_flashed_messages() %}
    <h2>{{ message }}</h2>
    {% endfor %}


        <p>Nuvarande nummer: {{current}} <br>
        Antal nummer före: {{waiting}}<br>
        Ditt nummer: {{your_number}}<br><br>
            Uppskattad väntetid är: <b>{{est_time}}</b> minuter</p>


</body>

{% endblock %}